{% extends 'base.html' %}
{% load static %}
{% block page_title %} Pages - Home {% endblock %}

{% block style_code %}

{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Pages</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> Pages <small>Home</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>
<!-- begin row -->
<div class="row">
  <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">Important dates &nbsp;</h4>
            </div>
            <!-- start panel body -->
            <div class="panel-body">
                <!-- begin timeline -->
                {% if holiday %}
                
                <div class="alert alert-info fade in m-b-15">
                    <strong>{{ fdate }}! </strong>
                    {{ holiday }}
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
                {% endif %}
                <ul class="timeline">
                    {% for date, holiday in dates.items %}
                    <li>
                        <!-- begin timeline-time -->
                        <div class="timeline-time">
                            <span class="date">{{ date }}</span>
                            <span class="time">{% if fday == date %} Today {% else %} - {% endif %}</span>
                        </div>
                        <!-- end timeline-time -->
                        <!-- begin timeline-icon -->
                        <div class="timeline-icon">
                            <a href="javascript:;"><i class="fa fa-paper-plane"></i></a>
                        </div>
                        <!-- end timeline-icon -->
                        <!-- begin timeline-body -->
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="userimage"><img src="/static/img/user-2.jpg" alt="" /></span>
                                <span class="username"><a href="javascript:;">{{ holiday }}</a> <small></small></span>
                                <span class="pull-right text-muted">days ago</span>
                            </div>
                            <div class="timeline-content">
                                <p>{{ holiday }}</p>
                            </div>
                            <div class="timeline-footer">
                                <i class="fa fa-comments fa-fw"></i> Calendar
                            </div>
                        </div>
                        <!-- end timeline-body -->
                    </li>
                    {% endfor %}
                    <li>
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                        <a href="javascript:;"><i class="fa fa-spinner"></i></a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                        Loading...
                    </div>
                    <!-- begin timeline-body -->
                </li>
                </ul>
            </div>
            <!-- end panel body -->
        </div>
        <!-- end panel -->  
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}

{% endblock %}
