{% extends 'base.html' %}
{% load static %}
{% block page_title %} Case Information - {{ form_name }} {% endblock %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<style type="text/css">
.tab-content ul {
  list-style-type: none;
  margin-left: 0px;
}
.tab-content li {
    padding-left: 1em;
    text-indent: -2em;
    margin-right: 2em;
}
</style>
{% endblock %}
{% load app_filters %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Forms</a></li>
    <li class="active">Case Information</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Additional Case Information <small>Management</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>
<!-- begin row -->
<!-- begin row -->
<div class="row">
   <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">Additional Case Information - {{ form_name }}</h4>
            </div>
            <div class="alert alert-warning fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
                <span id="infomessage">This page allows to provide more information for specific cases. Emergency Case details, Missing Children cases and additional case information.</span>
            </div>
            <!-- start panel body -->            
            <div class="cinvoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print"> 
                        <a href="{% url 'case_info' case_id=case_uid %}" class="btn btn-sm btn-primary m-r-5 m-b-5"><i class="fa fa-arrow-left m-r-5"></i> To Case Info</a>                  
                        <a href="{% url 'cpims_document' doc_id='CRS' case_id=case.case_id %}" class="btn btn-sm btn-danger m-r-5 m-b-5"><i class="fa fa-file-pdf-o m-r-5"></i> Case Record Sheet as PDF</a>
                        <div class="btn-group m-r-5 m-b-5">
                            <a href="#" class="btn btn-success">Case Actions</a>
                            <a href="javascript:;" data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{% url 'view_case_record_sheet' id=case_id %}"><i class="fa fa-gears"></i> View Case Record Sheet</a></li>
                                 <li><a href="{% url 'edit_case_record_sheet' id=case_id %}"><i class="fa fa-pencil"></i> Edit Case Record Sheet</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'case_events' id=case_id %}"><i class="fa fa-legal"></i> Case Follow up</a></li>
                            </ul>
                        </div>
                    </span>
                    Case No. {{ case.case_serial }}
                </div>
            </div>
            <div class="panel-body">
            <form class="form-horizontal" id="formCaseinfo" data-parsley-validate="true" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="{{ form_id }}">
                <input type="hidden" name="case_id" value="{{ case.case_id }}">
                <input type="hidden" name="person_id" value="{{ case.person.id }}">
                <input type="hidden" name="care_id" value="{{ case.care_id }}">

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nav-pills-tab-1">
                            <h3 class="m-t-10">Case details - {{ form_name }}</h3>
                            <table class="table table-profile">
                                <tbody>
                                    <tr class="highlight">
                                        <td class="field">Child Names</td><td>{{ case.person.first_name }} {{ case.person.surname }} {% if case.person.other_names %}{{ case.person.other_names }}{% endif %}</td>
                                        <td class="field">Sex</td><td>{{ case.person.sex_id|gen_value:vals }}</td>
                                    </tr>
                                    <tr class="highlight">
                                        <td class="field">DOB</td><td>{{ case.person.date_of_birth }}</td>
                                        <td></td><td></td>
                                    </tr>
                                    <tr class="highlight">
                                        <td class="field">Case Date</td><td>{{ case.date_case_opened }}</td>
                                        <td class="field">Case Reporter</td><td>{{ case.case_reporter|gen_value:vals }}</td>
                                    </tr>
                                    <tr class="highlight">
                                        <td class="field">Case Category</td>
                                        <td>
                                            {% for cat in cats %}
                                                {{ cat.case_category|gen_value:vals }}
                                            {% endfor %}
                                        </td>
                                        <td class="field">Sub Category</td><td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_gen_place.label }}
                                    {% if gform.Q1_gen_place.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-5">
                                    {{ gform.Q1_gen_place }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group" id="div_Q1_gen_platform">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_gen_platform.label }}
                                    {% if gform.Q1_gen_platform.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-5">
                                    {{ gform.Q1_gen_platform }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group" id="div_Q1_gen_platform_other">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_gen_platform_other.label }}
                                    {% if gform.Q1_gen_platform_other.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-5">
                                    {{ gform.Q1_gen_platform_other }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_gen_device.label }}
                                    {% if gform.Q1_gen_device.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-5">
                                    {{ gform.Q1_gen_device }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_gen_device_own.label }}
                                    {% if gform.Q1_gen_device_own.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-5">
                                    {{ gform.Q1_gen_device_own }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>


                            <h4 class="m-t-10">1. Behavioural</h4>
                            <hr>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_beh.label }}
                                    {% if gform.Q1_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q1_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q1_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q2_beh.label }}
                                    {% if gform.Q2_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q2_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q2_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q3_beh.label }}
                                    {% if gform.Q3_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q3_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q3_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q4_beh.label }}
                                    {% if gform.Q4_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q4_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q4_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q5_beh.label }}
                                    {% if gform.Q5_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q5_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q5_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q6_beh.label }}
                                    {% if gform.Q6_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q6_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q6_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q7_beh.label }}
                                    {% if gform.Q7_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q7_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q7_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q8_beh.label }}
                                    {% if gform.Q8_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q8_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q8_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q9_beh.label }}
                                    {% if gform.Q9_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q9_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q9_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q10_beh.label }}
                                    {% if gform.Q10_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q10_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q10_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q11_beh.label }}
                                    {% if gform.Q11_beh.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q11_beh }}
                                </div>
                                <div class="col-md-4">
                                    
                                    {{ gform.Q11_beh_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>                            
                                
                            <h4 class="m-t-10">2. Digital Footprint</h4>
                            <hr>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_df.label }}
                                    {% if gform.Q1_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q1_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q1_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q2_df.label }}
                                    {% if gform.Q2_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q2_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q2_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q3_df.label }}
                                    {% if gform.Q3_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q3_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q3_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q4_df.label }}
                                    {% if gform.Q4_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q4_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q4_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q5_df.label }}
                                    {% if gform.Q5_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q5_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q5_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q6_df.label }}
                                    {% if gform.Q6_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q6_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q6_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q7_df.label }}
                                    {% if gform.Q7_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q7_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q7_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q8_df.label }}
                                    {% if gform.Q8_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q8_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q8_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q9_df.label }}
                                    {% if gform.Q9_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q9_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q9_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q10_df.label }}
                                    {% if gform.Q10_df.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q10_df }}
                                </div>
                                <div class="col-md-4">
                                    {{ gform.Q10_df_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <h4 class="m-t-10">3. Environmental Risk Factors</h4>
                            <hr>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_ir.label }}
                                    {% if gform.Q1_ir.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q1_ir }}
                                </div>
                                <div class="col-md-4">                                    
                                    {{ gform.Q1_ir_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q2_ir.label }}
                                    {% if gform.Q2_ir.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q2_ir }}
                                </div>
                                <div class="col-md-4">                                    
                                    {{ gform.Q2_ir_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q3_ir.label }}
                                    {% if gform.Q3_ir.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q3_ir }}
                                </div>
                                <div class="col-md-4">                                    
                                    {{ gform.Q3_ir_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <h4 class="m-t-10">4. Direct Disclosures or Suspicious Reports</h4>
                            <hr>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q1_dis.label }}
                                    {% if gform.Q1_dis.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q1_dis }}
                                </div>
                                <div class="col-md-4">                                    
                                    {{ gform.Q1_dis_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    {{ gform.Q2_dis.label }}
                                    {% if gform.Q2_dis.field.required %}<span class="asteriskField">*</span>{% endif %}
                                </label>
                                <div class="col-md-2">
                                    {{ gform.Q2_dis }}
                                </div>
                                <div class="col-md-4">                                    
                                    {{ gform.Q2_dis_comment }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><b>Area</b></th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</td>
                                                <th><b>Total</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Area Score</b></td>
                                                <td><span id="score1">0</span></td>
                                                <td><span id="score2">0</span></td>
                                                <td><span id="score3">0</span></td>
                                                <td><span id="score4">0</span></td>
                                                <td><span id="tscore">0</span>/4</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total Score</b></td>
                                                <td><span id="tscore1">0</span>/11</td>
                                                <td><span id="tscore2">0</span>/10</td>
                                                <td><span id="tscore3">0</span>/3</td>
                                                <td><span id="tscore4">0</span>/2</td>
                                                <td><span id="tfinal">0</span>/26</td>
                                            </tr>
                                            <tr>
                                                <td><b>Overall Conclusion</b></td>
                                                <td colspan="10"><span id="tsummary"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Targeted Interventions</b></td>
                                                <td colspan="10">
                                                    1. Behavioral Indicators. <span id="a1"></span><br>
                                                    2. Digital Footprint Indicators. <span id="a2"></span><br>
                                                    3. Environmental Risk Factors. <span id="a3"></span><br>
                                                    4. Disclosures / Reports. <span id="a4"></span><br>

                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                 
                    <div class="form-group">
                        <label class="col-md-5 control-label">Date of Screening <span class="asteriskField">*</span></label>
                        <div class="col-md-3">
                            {{ gform.event_date }}
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="form-group" id="printId">
                        <label class="col-md-5 control-label"></label>
                        <div class="col-md-7">
                        <button type="submit" class="btn btn-success">Submit Form {{ form_code }} details</button>
                        <a href="{% url 'case_info' case_id=case_uid %}">
                            <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                        </div>
                    </div>                          
                            
                        </div>
                    </div>
                                     
                </form>

                {% if edit_form > 0 %}
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>                          
                        <h4 class="panel-title"><b>Past Events</b></h4>                    
                    </div>

                    <div class="panel-body">
                        <table id="tableData" class="table table-striped table-bordered">
                            <thead>
                                <tr> 
                                    <th>#</th>                                 
                                    <th>Event Date</th>                
                                    <th>Officer</th> 
                                    <th width="25%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if events %}
                                {% for event in events %}
                                <tr id="event_row-{{ event.pk }}"> 
                                    <td>{{ forloop.counter }}</td>                                 
                                    <td>{{ event.event_date }}</td>
                                    <td>N/A</td>

                                    <td>
                                        <a href="{% url 'edit_case_info_form' form_id=form_id case_id=case.pk event_id=event.pk|stringformat:'s' %}">
                                            <button type="button" class="btn btn-primary"> <i class="fa fa-pencil"></i> View / Edit Details</button>
                                        </a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="event-{{ event.pk }}" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div style="background-color:#d9edf7" class="modal-header">
                                                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Delete {{ form_name }} - {{ event.event_date }}</strong></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this {{ form_name }} dated {{ event.event_date }} ? </p>
                                                            <br>
                                                            <p>Click Yes to proceed to delete or Close to Cancel.</p>
                                                            <hr>
                                                            <a><button onclick="deleteEvent('{{ form_id }}', '{{ event.pk }}')" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button></a>
                                                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#event-{{ event.pk }}" class="btn btn-danger" data-toggle="modal">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>                                                        
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6">No previous events available</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        {% endif %}                
                
            </div>
            <!-- end panel body -->
        </div>
        <!-- end panel -->  
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
</div>
<!-- Modal -->
<div  class="modal fade" id="successMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #8f9191">
            <div style="background-color: #d9edf7" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Successful Deletion of Event</strong></h4>
            </div>
            <div class="modal-body">
            <p>Deleted successfully!</p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div style="background-color: #ff9966" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Deletion NOT completed.</strong></h4>
            </div>
            <div class="modal-body">
            <p>This item can not be deleted. <span id="msg_id"></span></p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>

<script>
$(document).ready(function() {
    $('#event_date, .event_date').datepicker({ endDate: '0d', format: 'dd-M-yyyy' });

    handleScores();

    $('input[type="radio"]').click(function(){
        handleScores();
    });

    var device = $('input[type=radio][name=Q1_gen_place]:checked').val();
    console.log('DEVICE', device);
    handle_toggle(device, 'OAPON', 'Q1_gen_platform', 'radio');
    //
    var ochecks = [];
    var cks = $('input[type=checkbox][name=Q1_gen_platform]:checked');
    // handle_toggle(odevice, 'OAPOT', 'Q1_gen_platform_other');
    //var cks = $("input[type='checkbox']:checked");
    for(var i = 0; i < cks.length; i++){
        ochecks.push($(cks[i]).val());
    }
    // console.log('Checks', checks);
    if(ochecks.includes('OAPOT')){
        handle_toggle('OAPOT', 'OAPOT', 'Q1_gen_platform_other', 'input');
    }else{
        handle_toggle('', 'OAPOT', 'Q1_gen_platform_other', 'input');
    }

    $('input[type=radio][name=Q1_gen_place]').click(function(){
        var dv = $(this).val();
        handle_toggle(dv, 'OAPON', 'Q1_gen_platform', 'radio');
    });
    $('input[type=checkbox][name=Q1_gen_platform]').click(function(){
        var checks = [];
        //var odv = $(this).val();
        //handle_toggle(odv, 'OAPOT', 'Q1_gen_platform_other');
        var cks = $("input[type='checkbox']:checked");
        for(var i = 0; i < cks.length; i++){
            checks.push($(cks[i]).val());
        }
        // console.log('Checks', checks);
        if(checks.includes('OAPOT')){
            handle_toggle('OAPOT', 'OAPOT', 'Q1_gen_platform_other', 'input');
        }else{
            handle_toggle('', 'OAPOT', 'Q1_gen_platform_other', 'input');
        }
    });
    //$('input[type=checkbox][name=Q1_gen_platform]').prop('required', true);

});

// Delete Django Ajax Call
function deleteEvent(form_id, event_id) {
    var csrftoken = $.cookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "{% url DELETE_URL %}",
        
        data: {'form_id': form_id, 'event_id': event_id,
               'csrfmiddlewaretoken': csrftoken },
        dataType: 'json',
        
        success: function (data) {
            if (data.deleted == 1) {
                console.log(data);
              $("#tableData #event_row-" + event_id).remove();
              $("#successMsg").modal('show');
            }
            if(data.deleted == 0){
                console.log(data.days)
                $("#msg_id").html(data.message);
                $("#errorMsg").modal('show');
    
            }
        },
        error: function(error){
            console.log(error);
        }
    });
}

function handle_toggle(itm, itm_val, rel_elem, pt){
    console.log('here '+ itm, itm_val, rel_elem, pt)
    if (itm == itm_val){
       //$("#div_"+rel_elem).prop("readonly", true);
        $("#div_"+rel_elem).show();
        //$('input[type='+ pt +'][name='+ rel_elem +']').prop('required', true);
        input_toggle(pt, rel_elem, true);
    }else{
        $("#div_"+rel_elem).hide();
        //$('input[type='+ pt +'][name='+ rel_elem +']').prop('required', false);
        input_toggle(pt, rel_elem, false);
    }
}

function input_toggle(inputs, rel_elem, toggle){
    if (inputs == 'radio'){
        $('input[type=radio][name='+ rel_elem +']').prop('required', toggle);
    }else if (inputs == 'checkbox'){
        $('input[type=checkbox][name='+ rel_elem +']').prop('required', toggle);
    }else{
        $('#'+ rel_elem).prop('required', toggle);
    }
}

function handleScores(){
    // var area1_items = $('input[type=checkbox][name=Q1_area]').val();
    var a1_array = [];
    var a2_array = [];
    var a3_array = [];
    var a4_array = [];

    var sec1 = ["Q1_beh", "Q2_beh", "Q3_beh", "Q4_beh", "Q5_beh", "Q6_beh", "Q7_beh", "Q8_beh", "Q9_beh", "Q10_beh", "Q11_beh"];
    var sec2 = ["Q1_df", "Q2_df", "Q3_df", "Q4_df", "Q5_df", "Q6_df", "Q7_df", "Q8_df", "Q9_df", "Q10_df"];
    var sec3 = ["Q1_ir", "Q2_ir", "Q3_ir"];
    var sec4 = ["Q1_dis", "Q2_dis"];

    
    $("input[type='radio']:checked").each(function() {
        var qn = $(this).attr('name');
        var qv = $(this).val();
        if(sec1.includes(qn) && qv == 'AYES'){
            a1_array.push(qv);
        }else if(sec2.includes(qn) && qv == 'AYES'){
            a2_array.push(qv);
        }else if(sec3.includes(qn) && qv == 'AYES'){
            a3_array.push(qv);
        }else if(sec4.includes(qn) && qv == 'AYES'){
            a4_array.push(qv);
        }
    });
    
    var t1 = a1_array.length;
    var t2 = a2_array.length;
    var t3 = a3_array.length;
    var t4 = a4_array.length;
    //
    var tt1 = (t1 > 0) ? 1 : 0;
    var tt2 = (t2 > 0) ? 1 : 0;
    var tt3 = (t3 > 0) ? 1 : 0;
    var tt4 = (t4 > 0) ? 1 : 0;

    var ts = t1 + t2 + t3 + t4;
    var tts = tt1 + tt2 + tt3 + tt4;
    var tsum1 = "0-3 : Few or no concerns across areas. <br>Routine monitoring, parental guidance, online safety awareness.";
    var tsum2 = "4-6 : Multiple concerning signs, but no disclosure.<br>Caregiver engagement, targeted psychosocial support, referral if escalation continues.";
    var tsum3 = "7+ : Disclosure or strong evidence of exploitation / abuse.<br>Immediate intervention: child protection referral, law enforcement (if required), emergency psychosocial support.";
    var tsummary;
    if (ts < 4 && tt4 == 0){
        tsummary = tsum1;
    }else if (ts > 3 && ts < 7 && tt4 == 0){
        tsummary = tsum2;
    }else{
        tsummary = tsum3;
    }
    // Areas
    var a1_1 = "0-1: Routine monitoring.";
    var a1_2 = "2-3: Engage caregivers; discuss safe online behaviour.";
    var a1_3 = "4+: Psychosocial support & urgent child protection follow-up";
    // Area 2
    var a2_1 = "0–1: Reinforce positive online habits.";
    var a2_2 = "2–3: Digital safety education + caregiver monitoring.";
    var a2_3 = "4+: Escalate to cybercrime / law enforcement if exploitation is evident.";
    // Area 3
    var a3_1 = "0: Safe/supervised environment.";
    var a3_2 = "1: Caregiver training on supervision & controls.";
    var a3_3 = "2–3: Home environment assessment; urgent child protection referral.";
    // Area 4
    var a4_1 = "0 : Monitor other domains.";
    var a4_2 = "1+ : Treat as confirmed harm; Investigate; verify concerns, urgent intervention + law enforcement + psychosocial support.";
    if (t1 > 3){
        var a1_sum = a1_3;
    }else if (t1 > 1 && t1 <= 3){
        var a1_sum = a1_2;
    }else{
        var a1_sum = a1_1;
    }
    if (t2 > 3){
        var a2_sum = a2_3;
    }else if (t2 > 1 && t2 <= 3){
        var a2_sum = a2_2;
    }else{
        var a2_sum = a2_1;
    }
    if (t3 > 1){
        var a3_sum = a3_3;
    }else if (t3 == 1){
        var a3_sum = a3_2;
    }else{
        var a3_sum = a3_1;
    }
    if (t4 > 0){
        var a4_sum = a4_2;
    }else{
        var a4_sum = a4_1;
    }
    console.log('TI', a1_array.length);
    //Area Scores
    $('#score1').html(tt1);
    $('#score2').html(tt2);
    $('#score3').html(tt3);
    $('#score4').html(tt4);
    $('#tscore').html(tts);
    //Individual Questions
    $('#qscore1').html(t1);
    $('#qscore2').html(t2);
    $('#qscore3').html(t3);
    $('#qscore4').html(t4);
    $('#tfinal').html(ts);
    // Grid
    $('#tscore1').html(t1);
    $('#tscore2').html(t2);
    $('#tscore3').html(t3);
    $('#tscore4').html(t4);

    $('#tsummary').html(tsummary);
    // Areas
    $('#a1').html(a1_sum);
    $('#a2').html(a2_sum);
    $('#a3').html(a3_sum);
    $('#a4').html(a4_sum);
}
</script>

{% endblock %}
