{% extends 'base_home.html' %}
{% load static %}

{% block page_title %} {{block.super}} CSRF error {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <div class="register-header">
        <h4 class="brand shome">Directorate of Children Services (DCS)</h4>
    </div>
    <h1 class="register-header">
        <small>There was a server error while processing your request </small>
    </h1>
    <!-- end register-header -->  
    <!-- begin register-content -->
    <div class="register-content"> 

        <div class="m-t-40 m-b-40">
        	<p>{{ reason }}</p>
            <p><strong>Cross-Site Request Forgery (CSRF) error may occur because of:</strong></p>
			<ol type="a">
			<li>Using the <strong>back button</strong></li>
			<li>An actual <strong>attack on your browser requests to the server</strong></li>
			<li>A <strong>other reason</strong></li>
			</ol>
		</div>
		<div class="m-t-20 m-b-20 p-b-20">
	        Please visit our <a href="{% url 'home' %}" class="text-success">home page</a> or 
	        <a href="{% url 'login' %}" class="text-success">login page</a> to start a fresh or contact administrator at cpims&lt;@&gt;labour&lt;dot&gt;go.ke
	    </div>
        <fieldset>
            <legend>Partners</legend>
            <span class="promo">
                <p>
                 <div class="row branding">                      
                  <div class="column">
                    <img src="{% static 'img/USAID-logo.png' %}" height="40" alt="USAID" >
                  </div>
                  <div class="column">
                    <img src="{% static 'img/PEPFAR-logo.png' %}" height="60" alt="PEPFAR" >
                  </div>
                  <div class="column-l">
                    <img src="{% static 'img/UNICEF-logo.png' %}" height="40" alt="UNICEF" >
                  </div>
                </div>
                </p>
                </span>                    
            </fieldset>
            <a href="/partners/" class="m-r-0"> <i class="fa fa-plus" aria-hidden="true"></i> More Partners </a>
            <hr />
            <p class="text-inverse">
                &copy; {% now "Y" %} Directorate of Children Services (DCS). All Rights Reserved.
            </p>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
{% endblock primary %}

